/*font-family: 'Bangers', cursive;
font-family: 'Creepster', cursive;
font-family: 'Neucha', cursive;*/


*{
    border:1px solid navy
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

#canvas{
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: 5px solid #cccccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#strike_idle{
    display:none;
}