/*font-family: 'Bangers', cursive;
font-family: 'Creepster', cursive;
font-family: 'Neucha', cursive;*/


*{
    background-color: aquamarine;
}

html,body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#canvas{
    background-color: red;
    width:100vw;
    height:100vh;
}

#strike_idle{
    display:none;
}